atomicwrites==1.4.0
attrs==19.3.0
chromedriver-py==85.0.4183.38
colorama==0.4.3
importlib-metadata==1.7.0
iniconfig==1.0.1
more-itertools==8.4.0
packaging==20.4
pathlib2==2.3.5
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pytest==6.0.1
selenium==3.141.0
six==1.15.0
softest==1.2.0.0
toml==0.10.1
urllib3==1.25.10
zipp==1.2.0
